.imgi {
    text-align: center;
    width: 80%;
}

body {
    background-color: bisque;
}

.uname {
    z-index: 10;
    right: 1%;
    top: 1%;
    border-radius: 4px;
    position: fixed;
    font-size: xx-large;
    background-color: rgb(144, 144, 144);
}

.logout {
    color: rgb(255, 255, 255);
    z-index: 10;
    right: 1%;
    top: 7%;
    border-radius: 4px;
    position: fixed;
    font-size: xx-large;
    background-color: rgb(255, 0, 0);
}

.goback {
    background-color: rgb(0, 68, 255);
    z-index: 10;
    left: 1%;
    top: 1%;
    border-radius: 4px;
    position: fixed;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 450%;
    background-color: bisque;
}

.main {
    text-align: center;
}

.cells {
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: calc(6vh);
    background-color: rgb(67, 105, 255);
}

a {
    margin: auto;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.page_main {
    width: 100%;
    height: calc(100vh);
}

.title_div {
    font-size: xx-large;
    text-align: center;
}

.table-scroll {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #000;
}

.table-wrap {
    width: 100%;
    overflow: auto;
}

.table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
    white-space: nowrap;
    vertical-align: top;
}

.table-scroll thead,
.table-scroll tfoot {
    background: #f9f9f9;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.clone th,
.clone td {
    visibility: hidden
}

.clone td,
.clone th {
    border-color: transparent
}

.clone tbody th {
    visibility: visible;
    color: red;
}

.clone .fixed-side {
    border: 1px solid #000;
    background: #eee;
    visibility: visible;
}

.clone thead,
.clone tfoot {
    background: transparent;
}

button {
    height: 5%;
    width: 15%;
    font-size: large;
}

.language {
    background-color: rgb(0, 68, 255);
    z-index: 10;
    left: 1%;
    top: 1%;
    border-radius: 4px;
    position: fixed;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
